@import "../../styles/Text";
@import "../../styles/Colors";
@import "../../styles/Panes.scss";

.help.wrapper {
  @include background-image-styles("background-tables.jpg");
  padding: 2%;

  .help_list {
    @include flex-center-styles();
    flex-direction: column;

    .help__block {
      background-color: rgba($white-100, 0.75);
      border-radius: 50px;
      box-shadow: 0px 0px 10px 10px $black-100;
      height: min-content;
      margin: 20px;
      width: 560px;

      &.left-position {
        margin-left: 10%;
        margin-right: auto;
      }

      &.right-position {
        margin-left: auto;
        margin-right: 10%;
      }

      &:hover {
        background-color: rgba($white-100, 0.95);
        box-shadow: 0px 0px 10px 10px $green-pp-75;
      }

      .help {
        &__header {
          height: 50px;
          margin: 25px 130px;
        }

        &__separator {
          background-color: $black-100;
          border: none;
          height: 1px;
          margin: 0;
        }

        &__prompt-wrapper {
          @include flex-center-styles();
          margin: 20px 30px;
          min-height: 200px;

          .help__prompt {
            text-align: center;
          }
        }
      }
    }
  }
}
