@import "../../styles/Text";
@import "../../styles/Colors";

$table-borders: 1px;

.table-basic {
  border-spacing: 0px;
  // border-collapse: collapse; //no-collapse;
  // border-top: 1px $black-100 solid;
  // border: $table-borders $black-100 solid;
  // border-right: transparent 1px solid;
  background-color: $black-100;
  // padding: 1px 0.5px 1px 1px;
  &__thead {
    .table-basic__column-name {
      border: $table-borders $black-100 solid;
      background: $green-djg-100;
      color: $white-100;
      @include text-h3();
      @include text-stroke-05($black-100);

      &.selectable {
        &:hover {
          background: $green-djg-75;
        }
        &:active {
          background: $green-djg-25;
        }
      }

      &.selected {
        color: $red-en-100;
        @include text-stroke-05($white-100);
      }
    }
  }
  &__tbody {
    .table-basic__row {
      // .table-basic__cell {
      //   border: $table-borders $black-100 solid;
      //   .cell-content-1 {
      //     @include text-h4();
      //   }
      //   &.selectable:hover {
      //     border: $table-borders $red-en-100 solid;
      //   }
      // }
      // .row-0.col-0,
      // .row-1.col-1 {
      //   background: $white-100;
      //   color: $black-100;
      //   @include text-h3();
      //   &.selectable:hover {
      //     background: $white-75;
      //     @include text-stroke-05($white-100);
      //   }
      //   &.selectable:active {
      //     background: $white-25;
      //     @include text-stroke-05($white-100);
      //   }
      // }
      // .row-0.col-1,
      // .row-1.col-0 {
      //   background: $green-fgc-100;
      //   color: $white-100;
      //   @include text-h3();
      //   &.selectable:hover {
      //     background: $green-fgc-75;
      //     @include text-stroke-05($black-100);
      //   }
      //   &.selectable:active {
      //     background: $green-fgc-25;
      //     @include text-stroke-05($black-100);
      //   }
      // }
      .table-basic__cell {
        border: $table-borders $black-100 solid;
        .cell-content-1 {
          @include text-h4();
        }
        &.selectable:hover {
          border: $table-borders $red-en-100 solid;
        }
      }
      .row-0.col-0,
      .row-1.col-1 {
        background: $white-100;
        color: $black-100;
        @include text-h3();
      }
      .row-0.col-1,
      .row-1.col-0 {
        background: $green-fgc-100;
        color: $white-100;
        @include text-h3();
      }

      &.selectable:hover {
        .table-basic__cell {
          // border: $table-borders $red-en-100 solid;
        }
        .row-0.col-0,
        .row-1.col-1 {
          background: $white-75;
          @include text-stroke-05($white-100);
        }
        .row-0.col-1,
        .row-1.col-0 {
          background: $green-fgc-75;
          @include text-stroke-05($black-100);
        }
      }

      &.selectable:active {
        .row-0.col-0,
        .row-1.col-1 {
          background: $white-25;
          @include text-stroke-05($white-100);
        }
        .row-0.col-1,
        .row-1.col-0 {
          background: $green-fgc-25;
          @include text-stroke-05($black-100);
        }
      }
    }
  }
}
