@import "../../styles/Text";
@import "../../styles/Colors";

.input-block {
  display: flex;

  &__input {
    &.negative {
      border-color: $red-en-100;
      box-shadow: 0 0 10px 0 $red-en-100;
    }

    &:focus {
      border-color: $green-pp-100;
      box-shadow: 0 0 10px 0 $green-pp-100;
    }

    &:active,
    &:hover,
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }

  &__reset-button {
    align-items: center;
    display: flex;
    justify-content: center;

    &.reset-button-bs {
      margin: 0 35px;
    }
  }
}

.input-bs {
  border: 1px solid $black-100;
  width: 400px;
}

.icon-close-bs {
  align-items: center;
}

.input-heigth-1 {
  height: 28px;
  padding: 0 4px;
}
