@import "../../styles/Text";
@import "../../styles/Colors";
@import "../../styles/Panes";

.create-warehouse.wrapper {
  @include background-image-styles("background-warehouse-changes.jpg");
  @include flex-center-styles;

  .create-warehouse__form {
    background-color: rgba($white-100, 0.75);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px $black-100;
    height: min-content;
    margin: 20px;
    width: 600px;

    .create-warehouse {
      &__header {
        height: 50px;
        margin: 25px auto;
      }

      &__separator {
        background-color: $black-100;
        border: none;
        height: 1px;
        margin: 0;
      }

      &__prompt {
        height: 30px;
        margin: 20px 50px;
        text-align: left;
      }

      &__input-name,
      &__input-location,
      &__input-email {
        height: 30px;
        margin: 0 50px;
      }

      &__issue {
        color: $red-en-100;
        height: 40px;
        margin: 20px 50px;
        text-align: left;
      }

      &__buttons-block {
        @include flex-center-styles;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 50px 25px 50px;
      }

      &__correct {
        margin-top: 80px;
      }
    }
  }
}
