@import "../../styles/Text";
@import "../../styles/Colors";
@import "../../styles/Panes.scss";

$blocks-border-width: 2px;

@mixin block-styles {
  @include text-block-styles;
  @include flex-center-styles;
}

.confirm-removing.wrapper {
  @include background-image-styles("background-warehouse-changes.jpg");
  @include flex-center-styles;

  .confirm-removing__elements-block {
    margin: 20px;
    width: min-content;
    height: min-content;
    border-radius: 50px;
    background-color: rgba($white-100, 0.75);
    box-shadow: 0px 0px 10px 10px $black-100;
    display: flex;
    flex-direction: row;

    .confirm-removing {
      &__left-elements {
        width: 340px;
        height: min-content;
        @include flex-center-styles;
        flex-direction: column;

        .confirm-removing {
          &__name-block {
            @include block-styles;
            @include flex-center-styles;
            flex-direction: column;
            width: 340px - $blocks-border-width;
            height: 140px - $blocks-border-width;
            border-width: 0px $blocks-border-width $blocks-border-width 0px;
            border-radius: 50px 0px 20px;
            color: $white-100;
            @include text-stroke-05($black-100);
          }

          &__cancel-button {
            margin: 20px 0;
          }

          &__info-block {
            @include block-styles;
            width: 300px - $blocks-border-width * 2;
            height: 210px - $blocks-border-width * 2;

            .confirm-removing__info-text {
              margin: 10px;
              color: $white-100;
              @include text-stroke-05($black-100);
            }
          }

          &__delete-buttons-block {
            margin: 20px 0 40px 0;
            display: grid;
            grid-template-columns: 40px 1fr 40px;
            width: 100%;

            .confirm-removing {
              &__delete-button {
                grid-column-start: 2;
                margin: auto;
              }

              &__confirm-delete-button {
                grid-column-start: 3;
              }
            }
          }
        }
      }

      &__right-elements {
        min-width: 715px;
        margin: 40px 5px 40px 40px;
        width: 100%;
        .confirm-removing {
          &__table-search {
            justify-content: end;
          }

          &__table {
            margin-top: 30px;
          }
        }
      }
    }
  }
}
