@import "../../styles/Colors";

$border-width: 1px;
$small-size: 20px;
$medium-size: 30px;
$large-size: 40px;

.checkbox-block.wrapper {
  .checkbox-block {
    &__checkbox-basic {
      display: none;
    }
    &__checkbox-custom {
      background-color: $red-en-100;
      border: $border-width solid $red-en-100;
      border-radius: 25%;
      display: inline-block;
      position: relative;

      &::before {
        background-color: $white-100;
        border-radius: 25%;
        content: "";
        display: block;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s;
      }
    }
    &__checkbox-basic:checked + .checkbox-block__checkbox-custom::before {
      opacity: 1;
    }
  }
}

.checkbox-sm {
  height: $small-size - $border-width * 2;
  width: $small-size - $border-width * 2;

  &::before {
    height: calc($small-size / 2);
    width: calc($small-size / 2);
  }
}

.checkbox-md {
  height: $medium-size - $border-width * 2;
  width: $medium-size - $border-width * 2;

  &::before {
    height: calc($medium-size / 2);
    width: calc($medium-size / 2);
  }
}

.checkbox-lg {
  height: $large-size - $border-width * 2;
  width: $large-size - $border-width * 2;

  &::before {
    height: calc($large-size / 2);
    width: calc($large-size / 2);
  }
}
