@import "../../styles/Text";
@import "../../styles/Colors";
@import "../../styles/Panes.scss";

.warehouse.wrapper {
  @include background-image-styles("background-tables.jpg");
  @include flex-center-styles();

  .warehouse__elements-block {
    align-items: center;
    background-color: rgba($white-100, 0.75);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px $black-100;
    display: flex;
    flex-direction: column;
    height: min-content;
    margin: 20px;
    min-height: 690px;
    width: 1200px;

    .warehouse {
      &__top-elements {
        @include text-stroke-05($black-100);
        align-items: center;
        color: $white-100;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        width: 100%;

        .warehouse {
          &__name-block {
            @include flex-center-styles();
            background: $green-pp-100;
            border-color: $red-en-100;
            border-radius: 50px 0px 20px;
            border-style: solid;
            border-width: 0px 2px 2px 0px;
            flex-direction: column;
            height: 140px;
            width: 340px;
          }

          &__location-block,
          &__items-counter-block {
            @include flex-center-styles();
            background: $green-pp-100;
            border: 2px solid $red-en-100;
            border-radius: 10px;
            height: 60px;
            width: 300px;
          }
        }
      }

      &__center-elements {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%;
        margin: 15px 0 40px 0;
        width: 100%;

        .warehouse {
          &__options-buttons-block {
            align-items: center;
            display: flex;
            flex-direction: column;

            .warehouse {
              &__delete-buttons {
                margin-bottom: 90px;
              }

              &__delete-buttons,
              &__edit-buttons {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .warehouse {
                  &__delete-selected-button,
                  &__delete-warehouse-button,
                  &__add-cargo-button,
                  &__edit-warehouse-button {
                    margin: 20px;
                    @include text-h3;
                  }
                }
              }

              &__pagination {
                align-items: flex-start;
                display: flex;
                height: 100%;
                justify-content: center;
                margin: 20px auto auto auto;
              }
            }
          }

          &__table-block {
            display: flex;
            flex-direction: column;

            .warehouse {
              &__table-options {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0px 20px 30px 80px;

                .warehouse {
                  &__table-sizes {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    width: 160px;

                    .warehouse__size-button {
                      @include text-h3;
                      @include text-stroke-075($black-100);
                    }
                  }
                }
              }

              &__table {
                margin: 0 120px auto auto;
              }

              &__empty-note-block {
                @include flex-center-styles();
                background: $green-pp-100;
                border: 2px solid $red-en-100;
                border-radius: 10px;
                height: 70px;
                margin: 50px 120px 50px auto;
                width: 600px;
                .warehouse__empty-note {
                  @include text-stroke-05($black-100);
                  color: $white-100;
                  margin: 10px;
                }
              }
            }
          }
        }
      }

      &__bottom-elements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        .warehouse__pagination-element {
          @include flex-center-styles();
          margin: 20px auto 40px auto;
        }
      }
    }
  }
}
