@import "../../styles/Text";
@import "../../styles/Colors";

.button {
  align-items: center;
  display: flex;
  justify-content: center;

  &:hover,
  &:active {
    &:not(.disabled) {
      @include text-stroke-05($black-100);
    }
  }
}

// Types

.button-primary {
  background-color: $green-djg-100;
  border: 2px solid $red-en-100;
  color: $white-100;

  &:hover {
    &:not(.disabled) {
      background: $green-djg-75;
    }
  }
  &:active {
    &:not(.disabled) {
      background: $green-djg-25;
      border: 3px solid $red-en-100;
    }
  }

  &.disabled {
    background-color: $white-25;
    color: $white-100;
  }
}

.button-secondary {
  background-color: $green-fgc-100;
  border: 2px solid $red-en-100;
  color: $white-100;

  &:hover {
    &:not(.disabled) {
      background: $green-fgc-75;
    }
  }
  &:active {
    &:not(.disabled) {
      background: $green-fgc-25;
      border: 3px solid $red-en-100;
    }
  }

  &.disabled {
    background-color: $white-75;
    color: $black-100;
  }
}

// Basic buttons

.button-sm {
  border-radius: 22px;
  height: 30px;
  width: 100px;
  @include text-h4();
}

.button-md {
  border-radius: 22px;
  height: 40px;
  width: 200px;
  @include text-h3();
}

.button-lg {
  border-radius: 22px;
  height: 50px;
  width: 250px;
  @include text-h3();
}

// Square buttons

.button-ssm {
  border-radius: 10px;
  height: 30px;
  padding: 0;
  width: 30px;

  &:active {
    border: 2px solid $red-en-100;
  }
}

.button-smd {
  border-radius: 10px;
  height: 40px;
  padding: 0;
  width: 40px;

  &:active {
    border: 2px solid $red-en-100;
  }
}
