@import "../../styles/Text";
@import "../../styles/Colors";

button {
  &:hover,
  &:active {
    @include text-stroke-05($black-100);
  }
}

// Types

.button-primary {
  color: $white-100;
  background-color: $green-djg-100;
  border: 2px solid $red-en-100;

  &:hover {
    background: $green-djg-75;
  }
  &:active {
    background: $green-djg-25;
    border: 4px solid $red-en-100;
  }
}

.button-secondary {
  color: $white-100;
  background-color: $green-fgc-100;
  border: 2px solid $red-en-100;

  &:hover {
    background: $green-fgc-75;
  }
  &:active {
    background: $green-fgc-25;
    border: 4px solid $red-en-100;
  }
}

// Basic buttons

.button-sm {
  width: 100px;
  height: 30px;
  @include text-h4();
  border-radius: 22px;
}

.button-md {
  width: 200px;
  height: 40px;
  @include text-h3();
  border-radius: 22px;
}

.button-lg {
  width: 250px;
  height: 50px;
  @include text-h3();
  border-radius: 22px;
}

// Square buttons

.button-ssm {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 10px;

  &:active {
    border: 2px solid $red-en-100;
  }
}
