@import "../../styles/Text";
@import "../../styles/Colors";

.sign-in.wrapper {
  background-image: url("../../../assets/images/background-sign.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .sign-in__form {
    margin: 20px;
    width: 560px;
    height: 445px;
    border-radius: 50px;

    background-color: rgba($white-100, 0.75);
    box-shadow: 0px 0px 10px 10px $black-100;

    .sign-in {
      &__header {
        height: 50px;
        margin: 25px 150px;
      }
      &__separator {
        margin: 0;
        background-color: $black-100;
        border: none;
        height: 1px;
      }
      &__prompt {
        height: 30px;
        margin: 20px 30px;
        text-align: left;
      }
      &__input-email,
      &__input-password {
        margin: 0 30px;
        height: 30px;
      }
      &__issue {
        height: 30px;
        margin: 20px 30px;
        text-align: left;
        color: $red-en-100;
      }
      &__buttons-block {
        display: flex;
        margin: 0 30px 35px 30px;
        justify-content: space-between;
      }
      &__correct {
        margin-top: 70px;
      }
    }
  }
}
