@import "../../styles/Text";
@import "../../styles/Colors";
@import "../../styles/Panes";

$table-borders: 2px;

.home.wrapper {
  @include background-image-styles("background-tables.jpg");
  @include flex-center-styles;

  .home__elements-block {
    align-items: center;
    background-color: rgba($white-100, 0.75);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px $black-100;
    display: flex;
    flex-direction: column;
    height: 700px;
    margin: 20px;
    width: 1000px;

    .home {
      &__top-elements {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 100%;

        .home {
          &__add-warehouse-button {
            margin-left: 40px;
          }

          &__input-search {
            margin-right: 10px;
          }
        }
      }

      &__center-elements {
        margin: 35px 100px;
      }

      &__bottom-elements {
        width: 100%;

        .home__counter {
          @include text-stroke-05($black-100);
          align-items: center;
          background-color: $green-pp-100;
          border: $table-borders $red-en-100 solid;
          border-radius: 10px;
          color: $white-100;
          display: flex;
          height: 60px;
          justify-content: center;
          margin: 0 100px 40px auto;
          width: 300px;
        }
      }
    }
  }
}
