.dropdown-menu {
  position: relative;
  z-index: 4;

  .dropdown-menu__content {
    position: absolute;
    z-index: 3;

    .login-block__dropdown-content {
      display: flex;
      flex-direction: column;
    }
  }
}
