$black-100: #000000;

$white-100: #ffffff;
$white-75: #cbcbcb;
$white-25: #636363;

$green-djg-100: #1c5253;
$green-djg-75: #21494a;
$green-djg-25: #2a3838;

$green-pp-100: #60ab9a;
$green-pp-75: #548c7f;
$green-pp-25: #3b4e4a;

$red-en-100: #a64253;
$red-en-75: #883d4a;
$red-en-25: #4d3438;

$green-fgc-100: #70b77e;
$green-fgc-75: #60956a;
$green-fgc-25: #3f5143;
