@import "./Colors";

@mixin flex-center-styles {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-image-styles($image-link) {
  background: url("../../../assets/images/" + $image-link) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

@mixin content-block-styles {
  height: min-content;
  border-radius: 50px;
  background-color: rgba($white-100, 0.75);
  box-shadow: 0px 0px 10px 10px $black-100;
}

@mixin text-block-styles {
  background: $green-pp-100;
  border: 2px solid $red-en-100;
  border-radius: 10px;
}
