@import "../../styles/Colors";

.modal__outside {
  background-color: transparent;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100vw;

  &.active {
    opacity: 1;
    pointer-events: all;

    .modal__content {
      border-radius: 28px;
      transform: scale(1);
      transition: 0.4s all;

      &.active {
        transform: scale(1);
        z-index: 1;

        .modal__container {
          background-color: $white-100;
          display: flex;
          flex-direction: column;
          border-radius: 15px;

          .modal__header {
            display: grid;
            grid-template-columns: 45px 1fr 45px;
            flex-direction: row-reverse;
            margin: 15px;

            .modal__title {
              margin: auto;
              grid-column-start: 2;
              align-items: center;
              color: $black-100;
              display: flex;
              font-family: "Red Rose";
              font-size: 26px;
              font-style: normal;
              font-weight: 700;
              line-height: 32px;
              text-align: center;

              &.error-case {
                color: $red-en-100;
              }
            }

            .modal__close-button {
              grid-column-start: 3;
              margin-left: 15px;
            }
          }

          .modal__content {
            margin: 0 15px 15px 15px;
          }
        }
      }
    }
  }
}
