@import "../../styles/Text";
@import "../../styles/Colors";

$table-borders: 1px;

.table-compact {
  border-collapse: no-collapse;
  border-spacing: 0px;

  &__thead {
    .table-compact__column-name {
      background: $green-djg-100;
      border: $table-borders $black-100 solid;
      color: $white-100;
      @include text-h2();
      @include text-stroke-05($black-100);
    }
  }

  &__tbody {
    .table-compact__row {
      .table-compact__cell {
        border: $table-borders $black-100 solid;
        .cell-content-1 {
          @include text-h4();
        }
      }

      .row-0.col-0,
      .row-1.col-1 {
        @include text-h3();
        background: $white-100;
        color: $black-100;
        &.selectable:hover {
          @include text-stroke-05($white-100);
          background: $white-75;
        }
        &.selectable:active {
          @include text-stroke-05($white-100);
          background: $white-25;
        }
      }

      .row-0.col-1,
      .row-1.col-0 {
        @include text-h3();
        background: $green-fgc-100;
        color: $white-100;
        &.selectable:hover {
          @include text-stroke-05($black-100);
          background: $green-fgc-75;
        }
        &.selectable:active {
          @include text-stroke-05($black-100);
          background: $green-fgc-25;
        }
      }
    }
  }
}
