@import "../../styles/Text";
@import "../../styles/Colors";
@import "../../styles/Panes";

.main-page.wrapper {
  @include background-image-styles("background-main.jpg");
  @include flex-center-styles;

  .main-page__content-block {
    height: 235px;
    margin: auto 7.5vw 7.5vh auto;
    width: 660px;
    .main-page__content {
      @include flex-center-styles;
      color: $white-100;
      flex-direction: column;
      height: 100%;

      .main-page {
        &__title {
          margin: 30px;
          text-shadow: 0px 5px 5px rgba($black-100, 0.25);
        }

        &__note {
          text-shadow: 0px 5px 5px rgba($black-100, 0.25);
        }

        &__buttons-block {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          width: 100%;
        }
      }
    }
  }
}
