@import "../../styles/Text";
@import "../../styles/Colors";

.no-page.wrapper {
  background: url("../../../assets/images/background-error.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: grid;

  .no-page__content-block {
    width: 660px;
    height: 280px;
    margin: 7.5% auto auto 5%;
    .no-page__content {
      height: 100%;
      background-color: rgba($black-100, 0.5);
      border: 2px $red-en-100 solid;
      color: $white-100;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .no-page {
        &__title {
          margin: 30px;
        }
        &__return-button {
          margin: 30px;
        }
      }
    }
  }
}
