@import "../../styles/Text";
@import "../../styles/Colors";
@import "../../styles/Panes";

.no-page.wrapper {
  @include background-image-styles("background-error.jpg");
  @include flex-center-styles;

  .no-page__content-block {
    height: 280px;
    margin: 7.5% auto auto 5%;
    width: 660px;

    .no-page__content {
      @include flex-center-styles;
      background-color: rgba($black-100, 0.5);
      border: 2px $red-en-100 solid;
      color: $white-100;
      flex-direction: column;
      height: 100%;

      .no-page {
        &__title {
          margin: 30px;
        }

        &__return-button {
          margin: 30px;
        }
      }
    }
  }
}
